<b-3d-scene 
    texture="rockmoss"
    texture-scale="2"
    plane-displacement="0"
    plane-rotation-initial="30"
    plane-rotation="0.01"
    ambient-light-intensity="0"
    ambient-light-color="0xff3300"
    texture-scroll-x="-0.03"
    texture-scroll-y="-0.02"

    light-1-color="0xa0b5d0"
    light-1-position-x="-10"
    light-1-position-y="20"
    light-1-position-z="10"
    light-1-intensity-min="0.3"
    light-1-intensity-max="0.5"
    light-4-flicker-rate="500"

    light-2-color="0xa0b5d0"
    light-2-position-x="0"
    light-2-position-y="20"
    light-2-position-z="10"
    light-2-intensity-min="0.3"
    light-2-intensity-max="0.5"
    light-4-flicker-rate="500"

    light-3-color="0xa0b5d0"
    light-3-position-x="10"
    light-3-position-y="20"
    light-3-position-z="10"
    light-3-intensity-min="0.3"
    light-3-intensity-max="0.5"
    light-4-flicker-rate="500"

    light-4-color="0xff8800"
    light-4-position-x="-5"
    light-4-position-y="-10"
    light-4-position-z="5"
    light-4-intensity-min="0.1"
    light-4-intensity-max="0.5"
    light-4-flicker-rate="300"

    light-5-color="0xff4500"
    light-5-position-x="5"
    light-5-position-y="-10"
    light-5-position-z="5"
    light-5-intensity-min="0.1"
    light-5-intensity-max="0.5"
    light-5-flicker-rate="1000"
></b-3d-scene>
