<b-3d-scene 
    plane-displacement="0"
    
    texture="panel"
    texture-scale="1"
    texture-scroll-x="0"
    texture-scroll-y="0"
    texture-scroll-x-element="#main-content"
    texture-scroll-x-scale="-0.0001"
    texture-scroll-y-element="#main-content"
    texture-scroll-y-scale="0.001"

    light-1-color="0xffffcc"
    light-1-position-x="-5"
    light-1-position-y="10"
    light-1-position-z="2"
    light-1-intensity-min="0.15"
    light-1-intensity-max="0.5"

    light-2-color="0xffdd99"
    light-2-position-x="0"
    light-2-position-y="10"
    light-2-position-z="2"
    light-2-intensity-min="0.15"
    light-2-intensity-max="0.5"

    light-3-color="0xffaaaa"
    light-3-position-x="5"
    light-3-position-y="10"
    light-3-position-z="2"
    light-3-intensity-min="0.15"
    light-3-intensity-max="0.5"

    light-4-active="false"

    light-5-active="false"
></b-3d-scene>

