<b-3d-scene 
    plane-displacement="0"
    plane-rotation-initial="0"
    plane-rotation="0"
    
    texture="marble"
    texture-scale="3"
    texture-scroll-y-element="#main-content"
    texture-scroll-y-scale="0.00015"

    light-1-color="0xffffff"
    light-1-position-x="0"
    light-1-position-y="20"
    light-1-position-z="10"
    light-1-intensity-min="0.3"
    light-1-intensity-max="0.6"

    light-2-color="0xffffff"
    light-2-position-x="15"
    light-2-position-y="0"
    light-2-position-z="10"
    light-2-intensity-min="0.3"
    light-2-intensity-max="0.6"

    light-3-color="0xffffff"
    light-3-position-x="-15"
    light-3-position-y="0"
    light-3-position-z="10"
    light-3-intensity-min="0.3"
    light-3-intensity-max="0.6"

    light-4-active="false"

    light-5-active="false"

    ambient-light-intensity="0.5"
></b-3d-scene>

