<article>
    <header>
        <h1>My Stance on AI</h1>
    </header>

    <section>
        <p>AI is fast becoming a vital tool for development, rapid prototyping, and media production. However, I have serious misgivings about how it is being created. Every aspect of AI is tainted by unethical practices: from the theft at the heart of its training to the misuse of limited resources and the destruction of our climate needed to run it, to the use of it by lazy, incompetent ghouls to try to swindle the last dime from creator and consumer alike, to the wholesale gambling of our economic future on its promise.</p>
        
        <p>Still, the future of all of my hobbies and professions will be shaped by AI, and if I don't engage with it, I will be dooming myself to incompetence sooner than any of us are prepared for. And on top of that, I find the systems themselves interesting and engrossing.</p>
        
        <p>The problems with AI are, in microcosm, the problems of the modern age and of laissez-faire capitalism. They are exaggerated, but they are no different. And as with capitalism, I am captive. I must engage with it, else I lose my livelihood.</p>
    </section>
</article>
